[2012-09-09 07:46] mikofski opened #3 "Makefile syntax file throws errors"
Thanks for these! FYI this one file seems to have issues

Error in /Users/whoami/.nano/gentoo.nanorc on line 19: Bad regex "<(do|new)(ins|s?bin|doc|lib(|.so|.a)|man|info|exe|initd|confd|envd|pam|menu|icon)>": empty (sub)expression

Error in /Users/whoami/.nano/gentoo.nanorc on line 21: Bad regex "prepall(|docs|info|man|strip)": empty (sub)expression

Error in /Users/whoami/.nano/gentoo.nanorc on l

[2012-10-12 15:16] intel352 opened #7 "Ruby addition"
Add Capfile and Vagrantfile to the list of filenames to highlight as ruby. Capfile is for Capistrano, Vagrantfile is for Vagrant...

[2012-10-12 15:29] #7 closed, assigned to nobody

[2013-03-27 16:10] #3 closed, assigned to nobody

[2013-07-15 11:26] OrdinaryMagician opened #12 "C/C++ syntax highlighting doesn't work"
Any C or C++ source file appears with no highlighting at all.

[2013-07-15 21:40] #12 closed, assigned to nobody

[2013-07-22 23:56] staticfloat opened #13 "More issues with OSX"
This is similar to #3, using nano 2.2.6 on OSX compiled by homebrew, I get errors in `cython.nanorc`, `fish.nanorc` and `pkgbuild.nanorc`:

[code]

[2013-07-23 04:36] staticfloat opened #15 "Javascript duplicated?"
We seem to have two javascript syntax files, `javascript.nanorc` and `js.nanorc`.  Is this purposeful, and if not, shall we remove one of them?

[2013-07-23 13:28] #13 closed, assigned to nobody

[2013-07-23 15:33] #15 closed, assigned to nobody

[2013-08-12 23:19] mholt opened #16 "Command "header" not understood"
I tapped into dupes, installed nano, then ran this command to add syntax highlighting for all languages:

`$ /bin/ls /usr/local/share/nano/*.nanorc | xargs -I {} echo 'include "{}"' >> ~/.nanorc`

Now when I run nano I get this error:

[code]

I'm kind of new to this tap; any suggestions where to start, or is this an easy fix I could dive into?

[2013-08-15 13:30] #16 closed, assigned to nobody

[2013-08-30 13:07] goliatone opened #17 "Command "header" not understood"
[code]

json.nanorc seems to have a header command:

[code]

[2013-09-02 09:23] #17 closed, assigned to nobody

[2013-10-21 14:01] message opened #20 "Add installation line to readme"
We're all are lazy :) Please add following to readme:

[code]

[2014-03-04 23:06] #20 closed, assigned to nobody

[2014-03-04 23:17] wking opened #23 "Missing copyright / licensing information?"
Usually in COPYING ([1](http://svn.savannah.gnu.org/viewvc/trunk/nano/COPYING?root=nano&view=log)) or LICENSE ([2](https://help.github.com/articles/open-source-licensing#where-does-the-license-live-on-my-repository)).  I'd expect it's GPLv3+ by association with GNU Nano, but explicit is better than implicit ;).

[2014-03-05 03:52] #23 closed, assigned to nobody

[2014-03-26 05:00] firatsarlar opened #25 "distraction, nginx , red color for tabs and spaces"
I've been trying nginx highlighter,
I think red color is a little distractive for tabs and spaces.
(of course it's personal but I wanted to share )

[2014-05-18 10:09] ttasovac opened #27 "Regex Errors"
Hi! I am using apacheconf.nanorc on Centos 6.5 and I am getting a bunch of Regex errors

[code]

[code]

I really wouldn't know how to fix these —  but perhaps somebody else might.

[2014-05-30 12:54] realjumy opened #28 "Command "header" not understood"
In the first place, great job. Finally I can enjoy of the syntax highlight in nano.

However, after installing, I have those error messages when I open nano:

[code]

[2014-05-31 16:34] #28 closed, assigned to nobody

[2014-09-17 08:12] ChristopherA opened #41 "Bad regex in php.nanorc, sh.nanorc & zsh.nanorc using nano 2.3.6 on Mac OS X from brew"
Using GNU nano version 2.3.6 (on the Mac after `brew tap homebrew/dupes` & `brew install nano`), copying the recommended starting .nanorc from the clone, I get the following errors:
[code]
For now I have copied copied php.nanorc and sh.nanorc from brew files at /usr/local/share/nano/, but I've found no replacement for the bad zsh.nanoc.

-- Christopher Allen

[2014-09-18 06:49] ChristopherA opened #42 "Solarized?"
Any chance for branch that uses the Solarized theme? It is probably the most popular color theme.

-- Christopher Allen

[2014-09-30 21:35] stiemannkj1 opened #43 "html.nanorc yellow regex is greedy and matches all quotes until the final quote"
Steps to reproduce:
1. Create an `.html` file called `example.html` with nano:

[code]
2. Paste the following code into the file:

[code]

Note that these characters `"_blank">link1</a><a` appear yellow. However, only `"_blank"` should appear yellow.

[2014-09-30 22:20] #43 closed, assigned to nobody

[2014-10-16 23:54] whardier opened #46 "'(' in javascript is there.. but set to black."
Using this repository.. just open up a new javascript file and type ()... the ( is set to the background color.

I can't figure this out however.. I don't see where that is obvious in the javascript.nanorc.

[2014-10-27 21:39] Xaero252 opened #47 "Comment highlighting should be last in *.nanorc"
Purely cosmetic issue, but all comment highlighting should be the last in each nanorc. Since nano parses these configurations line by line from top to bottom, any definitions after the comment highlighting will be highlighted even if its within a comment, which is undesirable.

[2014-12-19 23:49] kjprince opened #48 "Errors in sql.nanorc"
I added just wanted the sql highlighting and included that file in my `~/.nanorc`

When I open a SQL file with nano I now get the following errors:

[code]

The highlighting still seems to work though.

[2015-01-29 16:53] natejgardner opened #49 "Command "header" not understood"
After following the installation instructions, there are several errors when running nano:

awk.nanorc line 2: command "header" not understood
coffeescript.nanorc line 2: command "header" not understood
ini.nanorc line 2: command "header" not understood
json.nanorc line 2: command "header" not understood
makefile.nanorc line 2: command "header" not understood
nginx.nanorc line 2: command "header"

[2015-01-29 16:57] natejgardner commented on #49
Additionally, occasionally I get a segfault when trying to edit something now.

[2015-01-29 16:58] scopatz commented on #49
Hey @natejgardner sorry to hear that you are having troubles.  what version of nano are you on?

[2015-01-29 20:10] natejgardner commented on #49
I'm using Nano 2.0.6.

[2015-01-29 20:14] scopatz commented on #49
Ahh Ok.  I think this header stuff only works on v2.2.  I am on 2.2.6

[2015-01-29 20:19] natejgardner commented on #49
Would that also explain the regex errors?

[2015-01-29 20:22] scopatz commented on #49
Yeah this explains those too.

On Thu, Jan 29, 2015, 2:19 PM Nate Gardner <notifications@github.com> wrote:

[2015-01-29 20:24] natejgardner commented on #49
I tried running nano 2.3.6 and still get the following errors:

Error in ~/.nano/sh.nanorc on line 11: Bad regex "^\s+?[0-9A-Z_]+\s+?\(\)": repetition-operator operand invalid

Error in ~/.nano/zsh.nanorc on line 2: Bad regex "\.?zsh[^\.]+?$": repetition-operator operand invalid

Error in ~/.nano/zsh.nanorc on line 23: Bad regex "^\s+?(function\s+)?[0-9A-Z_]+\s+?\(\)": repetition-operator operand

[2015-01-29 20:41] scopatz commented on #49
Weird.  OK.  Well if you come up with a fix I'd gladly accept them...

[2015-02-11 20:28] martenson commented on #49
I get these three header errors on 2.2.6. I just removed the lines as I don't use these often.

[2015-03-12 02:13] ddarbyson commented on #49
@natejgardner I get exactly the same errors using nano `GNU nano version 2.2.6 `

[2015-03-12 02:18] ddarbyson commented on #41
@AjarKeen you're right. https://github.com/justinribeiro/nanorc/commit/449447fffeba6fd472c2472027bb96ca9141313b fixes the issue

[2015-03-12 05:34] scopatz commented on #41
I'd happily accept a PR!

[2015-04-26 20:31] michaellopez commented on #41
@scopatz Please review #51

[2015-04-26 20:38] #41 closed

[2015-05-27 22:34] semitrivial opened #52 "\< and \> don't work on OSX (effects, for example, c.nanorc)"
Hilariously, on mac, the \ appears to be a regular character escape when applied to < and >, so for example the "return" coloring gets applied to (the string literal) "\<return>" but not to actual return keywords like it's supposed to.

[2015-05-28 07:00] scopatz commented on #52
HI @semitrivial - weird!  If you come up with a fix, pull requests are accepted.

[2015-05-28 08:31] semitrivial commented on #52
The natural fix for Mac users is to replace \< and \> by [[:<:]] and [[:>:]] respectively, unfortunately this would break the nanorc file for other systems (tested it on Ubuntu, it breaks it there).  It's quite shocking to me that nano outsources regexp parsing to the surrounding system, making nanorc inherently unportable like this.

[2015-06-15 16:33] simon-v opened #54 "Extending ledger syntax to include beancount"
Beancount is a ledger-like accounting system that has a very ledger-like syntax. As such, beancount files can be partially parsed with the ledger syntax highlighting rules, provided that the file is named "*.ledger". The following modification to the "ledger.nanorc" file extends the syntax highlighting to beancount files (at least in a basic way).

[code]

[2015-06-17 13:06] scopatz commented on #54
Pull requests accepted

[2015-06-19 09:15] ZhaoMiing commented on #46
ah...still not fixed

[2015-06-19 09:35] MatthewCox commented on #46
It looks like it's there to reset the color after the previous line highlights it brightblue.
https://github.com/scopatz/nanorc/blob/master/javascript.nanorc#L6

Obviously that doesn't work as intended if you're using a dark terminal background.

I'd suggest changing it to `color brightblue "[()]"` and just highlight both parens everywhere instead.

[2015-07-03 15:00] simon-v commented on #54
I'm thinking i'm pretty much done for now.

[2015-07-06 07:13] #54 closed

[2015-08-10 02:47] agordon opened #59 "License for nanorc files?"
Hello @scopatz,

Thanks for a terrific resource. Would you mind specifying the license for the files in your README (or in a separate file / in each file's comment) ? Just to help share the code in a clear way.
Hopefully, it's a permissive license (e.g. MIT/BSD/CC-SA) ?

Thanks!

[2015-08-10 21:29] scopatz commented on #59
Hello @agordon - there already is a license file: https://github.com/scopatz/nanorc/blob/master/license

[2015-08-11 18:21] agordon commented on #59
totally missed it!
thanks!

[2015-08-11 18:21] #59 closed

[2015-10-23 17:59] overthetop opened #66 "Need some quotes on the local .nanorc file"
Hey guys,
nano didn't show highlighting till I put quotes on every include statement in that file? Should I fire a pull request with the fix?

 GNU nano version 2.2.6 (compiled 16:56:37, Jul 16 2014)
 (C) 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007,
 2008, 2009 Free Software Foundation, Inc.
 Email: nano@nano-editor.org	Web: http://www.nano-editor.org/
 Compiled options: --disable-wrappin

[2015-10-23 22:28] scopatz commented on #66
Yeah, PRs very welcome. Thanks

[2015-11-14 20:14] Gusbenz commented on #52
@semitrivial Thanks for this. Sucks that I have to that just for OS X, but thanks anyway.

[2015-12-14 21:14] astronautlevel2 commented on #48
@kjprince
It seems to work fine for me. What operating system are you running, and what version of nano?

[2015-12-16 20:17] #66 closed

[2016-02-08 23:54] mormy opened #80 "zsh.nanorc reports bad regex"
Line 24.

You should remove the trailing pipe character after _yes_ in coreutils regex

[2016-02-08 23:57] scopatz commented on #80
Please open a PR.  Thanks!

[2016-02-09 00:44] mormy commented on #80
please close my PR, I've mucked it up... I'll submit another...

[2016-02-09 00:45] mormy commented on #80
done

[2016-02-09 00:45] #80 closed

[2016-02-10 12:46] kourindouhime commented on #49
installed nano from homebrew – no header errors any more

[2016-02-14 11:13] ngryman commented on #49
Having the same with `GNU nano version 2.0.6`.

[2016-02-19 00:17] GandaG opened #87 "No highlighting in md/cs"
As the title says, I'm getting no highlighting in either markdown and c# (so far I've checked python, rst, md and c#). I cloned the repo and then added all the languages to the .nanorc file as per the instructions.

[2016-02-19 00:36] astronautlevel2 commented on #87
I'm not in a position to test right now, but quickly looking through the files doesn't reveal anything wrong immediately. I'll take a better look once I get more of a chance.

[2016-02-19 00:45] GandaG commented on #87
Everything seems to be the same related to rst/py. If needed I'll post screenshots here.

[2016-02-19 00:47] astronautlevel2 commented on #87
I'm sorry, do you mean that rust and python are or aren't working?

While discussing, what operating system are you using and what version of nano?

[2016-02-19 00:59] GandaG commented on #87
Restructured text (.rst) and python are working. I'm on ubuntu 14.04 and nano is version 2.2.6 (this is the system version, maybe that is the problem?).

Forget what I meant :p

[2016-02-19 01:29] astronautlevel2 commented on #87
I'm unable to replicate this on Ubuntu 14.04, nano version 2.2.6.

Can you please post what your .nanorc file looks like, as well as the csharp.nanorc and markdown.nanorc? Also, could you please tell me what the names of the files that won't highlight are?

[2016-02-19 01:48] GandaG commented on #87
- [.nanorc](http://pastebin.com/4vwZsLjL);
- [csharp.nanorc](http://pastebin.com/PMwmhXCZ);
- [markdown.nanorc](http://pastebin.com/MqE7B9G4);
- c#: SystemBase.cs, StateArgs.cs, StateBase.cs
- md: README.md

[2016-02-19 01:49] astronautlevel2 commented on #87
That all looks right.

Could you humor me and remove everything from .nanorc except for the csharp and markdown include?

[2016-02-19 01:53] GandaG commented on #87
Yup, everything is now pretty. Is something overwriting it?

[2016-02-19 01:54] astronautlevel2 commented on #87
Not sure. I'll take a look at it more tomorrow.

[2016-02-28 12:58] ThomasR commented on #42
nano does not offer more than the 16 ANSI colors, so I guess it's not possible.

http://linux.die.net/man/5/nanorc

[2016-02-28 13:04] ThomasR commented on #27
Stuff like that usually happens when you use DOS newlines (CRLF). `dos2unix` should fix it.

[2016-02-29 17:33] ThomasR commented on #52
Most of the time, `\b` (==`(\<|\>)`) is just as good as `\>` or `\<`.
Particularly, patterns of the form `"\<SOMETHING"`, `"SOMETHING\>"` are equivalet to `"\bSOMETHING"` and `"SOMETHING\b"`, respectively.

I looked through the whole code, and I found that global search&replace should be unproblematic, with the exception of [`\$this-\>` in php.nanorc](https://github.com/scopatz/nanorc/blob/178ce55

[2016-02-29 17:55] ThomasR commented on #48
Probably the same as #27

[2016-02-29 18:00] ThomasR commented on #47
Not necessarily. Think about URLs, email addresses, `FIXME`/`TODO`, meta comments like vim editor settings etc.
That is stuff you’d potentially want to highlight within comments, so you should consider it individually, depending on the file type.

[2016-03-01 20:02] ThomasR opened #90 "Syntax definition titles conflict with nano's internals"
nano comes with predefined .nanorc files, which are located in `/usr/share/nano/` (may be somewhere else on your OS)

It is a bad idea to redefine existing syntax definitions, since that can cause other syntax definitions to break. For example:
[code]
This also happens if the definitions come from different files, and even if they're included automatically. For example, including xml.nanorc may br

[2016-03-01 20:17] scopatz commented on #90
Feel free to open a PR!

[2016-03-01 20:52] ThomasR commented on #90
I'm not happy with renaming everything, and I feel like there must be a better fix. Let me look into that.

[2016-03-01 21:01] ThomasR commented on #90
Looks like nano 2.3 introduced [the `extendsyntax` keyword](http://www.nano-editor.org/dist/v2.3/nanorc.5.html#SYNTAX%20HIGHLIGHTING) for that exact purpose, but I guess many people are still on version 2.x, right?

[2016-03-01 21:04] astronautlevel2 commented on #90
Given that ubuntu 14.04 (The most recent LTS release) is still on nano 2.2.6, I feel it would be a bad idea to implement extendsyntax.

[2016-03-02 08:10] ThomasR commented on #90
So we wait one more month for 16.04? :wink:

[2016-03-03 06:50] ThomasR commented on #52
Reported as a bug in nano: https://savannah.gnu.org/bugs/index.php?47325

[2016-03-06 18:33] #90 closed

[2016-05-03 08:35] leoderbois commented on #49
fixed with Homebrew in 1min :
[code]

[2016-06-18 04:27] tambnguyen opened #104 "A bunch of syntax errors"
I ran the install.sh and then my nano got a bunch of errors:

[code]

[2016-06-21 12:15] bpietropaoli opened #105 "Multiline triple quotes in Python"
The multiline triple quotes in Python tend to highlight most part of the document like it is a string. More particularly when you have multiple multiline triple quotes in a document (for instance when there are multiple documented functions).

What's weird is that the document looks okay when loading it. It considers everything as a doc string when adding a new line to the code...

[2016-06-21 14:18] scopatz commented on #105
@bpietropaoli I am pretty sure this is a nano bug.  This is one of the reasons I have moved away from nano and wrote xo: http://exofrills.org/

[2016-06-21 18:03] bpietropaoli commented on #105
Haha, fair enough. I'll give XO a try then.

[2016-06-26 09:28] DougFirErickson commented on #104
Ditto.

[2016-07-10 12:22] mis2 opened #107 "[coffeescript] Bad regex, Invalid range end"
Since commit https://github.com/scopatz/nanorc/pull/106/commits/a983d29c60ddfb49fea9d5940a59a606a08cdfe7 I get the following error with nano 2.6.1

[code]

[2016-07-10 12:30] scopatz commented on #107
Pull requests welcome

[2016-07-10 12:36] mis2 commented on #107
Unfortunately I don't know how to fix the regex properly, so I opened this.

[2016-07-10 12:42] scopatz commented on #107
Maybe someone else will though :)

[2016-07-17 10:51] meeDamian commented on #107
Here ya go :).

[2016-07-17 12:34] scopatz commented on #107
thanks!

[2016-07-17 13:07] #107 closed

[2016-07-21 02:22] tb582 commented on #49
I continue to see this issue
`...nanorc on line 2: Command "header" not understood

Press Enter to continue starting nano.

Segmentation fault: 11`

[2016-08-29 09:53] joernroeder commented on #49
same here

[code]

[code]

[2016-09-26 11:17] ChristopherA opened #116 "Problems with git.nanorc & gitcommit.nanorc with nano 2.7 installed by brew"
I am using nano on a Mac installed by homebrew `brew tap homebrew/dupes` & `brew install cask nano`

It installs nano 2.7

[code]

When I use your nanorc file, and I startup nano, I get:

[code]

[2016-10-16 02:07] astronautlevel2 commented on #116
Is it only these two that are giving errors?

[2016-10-16 03:52] ChristopherA commented on #116
Correct. Delete them and starting nano gives no errors.

[2016-10-16 12:41] astronautlevel2 commented on #116
Are you sure that you're using the most recent version of the nanorc? That error message typically means that there's a space in the syntax name (which isn't allowed on the OS X version), but this was changed in https://github.com/scopatz/nanorc/commit/bba53c3940c5936a94a97abfa56d723974e5973e#diff-b9742a2e456da59c063b9a2d8d6188b4

If you're not using the most recent version, can you download it an

[2016-10-23 09:40] Varient13 commented on #116
Hi, Arch linux install and I re-installed nano for good measure
[code]
-- reinstalling etc.etc.etc.

[code]

[code]
.............................................
"syntax" is line 53.....

[code]

[2016-10-23 17:10] astronautlevel2 commented on #116
This isn't an issue with this set of nanorc files @Varient13

That being said, you should make it so that "Java source" doesn't have a space - replace it with just "Java"

[2016-10-23 20:37] Varient13 commented on #116
OK - many thanks - this is a default/"clean" Arch setup so not been mucked about with by me !!
.....For what it's worth (just in case nobody has every told you) you done good work here - this is an excellent piece of software - congrats and thanks.

[2016-11-05 22:12] semitrivial opened #123 "Add jsx.nanorc for jsx syntax highlighting"

[2016-11-05 22:13] semitrivial opened #124 "Extend js.nanorc with ES6 highlighting"

[2016-11-05 22:51] scopatz commented on #124
Pull requests welcome

[2016-11-05 22:52] scopatz commented on #123
Pull requests very welcome!

[2016-12-06 17:50] elofu17 opened #125 "Trailing whitespace"
Hi!

Please run:
cd ~/.nano/
grep ,green *

You will see that in 47 (out of 83) files, you highlight trailing whitespace as inverted green, like this:

  color ,green "[[:space:]]+$"

This is great!
Could you please add the same to all files?

[2016-12-06 17:59] scopatz commented on #125
Please feel free to open a PR

[2016-12-06 18:06] elofu17 commented on #125
Swift response. :-)
I have never done a PR. :-/ *blush*
Is it easy?

Also, in puppet.nanorc I found an error:

color red "[[:space:]]+$"

The trailing whitespace is not shown (in red) since you forgot to invert the color.

PS: In my opinion this should be green, not red, since the extra whitespace isn't critical to puppet.

[2016-12-06 18:08] scopatz commented on #125
Hi @elofu17 - git hub tries to make it pretty easy.  If you google around you'll find lots of documentation.

[2016-12-06 18:16] elofu17 commented on #125
That was easy. :)
Thanks!

I'll take a look at the other files on the train home.

[2016-12-06 18:16] #125 closed

[2016-12-06 18:18] scopatz commented on #125
Cool, sounds good.

[2016-12-07 13:22] elofu17 opened #129 "Errors in files"
Hi!

I just installed this on a FreeBSD machine with nano 2.7.0, and I found some errors.

I list all of them here instead of creating several issues.
(also, I don't know how they should best be corrected, so I create no PR's)

1)
The files zshrc.nanorc and gitcommit.nanorc are totally wrong and cannot be included in nano.
Either you should remove them or fix them.
If you fix them, remember to als

[2016-12-10 09:49] xgouchet opened #130 "Installer scrambles the original ~/.nanorc file"
If the user already had a ~/.nanorc, the installer will completely scramble it as it does a sort -u in the process.
THe result is a file with all preferences and comments  sorted alphabetically. Especially if a comment was multiline, the line are separated and moved all around the file. Also all blank lines are removed, ending in an unstructured file.

[2016-12-11 18:30] #130 closed

[2017-01-23 17:07] scopatz commented on #27
Please feel free to submit a PR to fix!

[2017-02-19 16:22] pik opened #138 "Some syntax definitions are inferior to Nano upstream"
Here is a quick comparison by line number:
[code]
[code]

While sometimes the verbose definition might not be superior - it clearly is in a number of cases. For example here is the `po.nanorc` from the upstream repo:
[code]

vs. the one provided by this repo:
[code]

I'd recommend remove syntax definitions which already exist upstream, or to add a note in the README regarding the ones which may be

[2017-02-19 16:30] scopatz commented on #138
Please feel free to put in a PR to either update existing definitions or add a note to this effect.

[2017-03-08 14:36] DarkStar1 commented on #104
I also have this problem on osx and @adam-erickson 's solution doesn't work for me right now.

[2017-03-16 18:18] nikoz84 opened #142 "wget and curl install not working"
Message
sh: 3: Syntax error: "(" unexpected

in the install command line
wget https://raw.githubusercontent.com/scopatz/nanorc/master/install.sh -O- | sh
curl https://raw.githubusercontent.com/scopatz/nanorc/master/install.sh | sh

[2017-03-19 07:45] aquartier commented on #142
Me too

[2017-03-20 18:43] scopatz commented on #142
PRs welcome!

[2017-03-29 15:32] SamuelEnglard commented on #142
I found the issues, I should get a PR sometime today

[2017-03-29 16:15] scopatz commented on #142
Sounds good, thanks!

[2017-04-02 14:45] agaskins commented on #47
I'm kind of with @Xaero252 on this; highlighting in the comments is distracting and, from my experience, most people think something is wrong with your editor when they see variables and such highlighted inside a comment block. That said, I do see the merit in this for certain situations like hyperlinking, as @ThomasR mentioned.My proposed solution would be to indeed include the comment parsing at

[2017-04-02 16:02] Xaero252 commented on #47
I too see the merit, and can actually identify other editors highlighting based on the situation as well. Hyperlinks and FIXME / TODO was an excellent usage cause for highlighting within comments, Currently all sorts of strange things get highlighted within comments, which looks tacky and unintentional. Again, it's purely cosmetic, and some people may actually desire such functionality.

[2017-04-05 09:55] oizulain commented on #49
The solution by @leoderbois worked for me, but in case someone is struggling, remember to close and reopen the terminal after updating nano ;)

[2017-04-05 14:39] pwfee opened #145 "Bad regex and Invalid character class name"
It works well in nano 2.7.4 on my mac, but it warning me "bad regex" when I upgrade to nano 2.8.0 by brew.

I tried to fix out that problem and found that I can replaces the characters '\<' and '\>' by \b in all the nanorc file, and the error message gone. But it may not be a good solution.

http://jimmybonney.com/articles/configure_nano_syntax_highlighting_synology/

**Error message:**

Error in

[2017-04-07 13:07] pwfee commented on #145
When I upgraded nano to 2.8.0_1 ,the problem fixed! It seems to the brew problem.

[2017-04-07 13:07] #145 closed

[2017-04-11 15:38] scopatz commented on #49
Pull requests welcome!

[2017-04-11 15:39] scopatz commented on #145
Great!

[2017-04-11 23:53] myersg86 commented on #142
I submitted a PR here: https://github.com/scopatz/nanorc/pull/141
that fixes this issue

[2017-05-11 05:02] iHarshad commented on #87
Markdown syntax highlighting throwing error.

`Error in /usr/local/share/nano/markdown.nanorc on line 32: Command ""(^|[[:space:]])\-\-($|[[:space:]])"" not allowed in included file`

I ran `curl https://raw.githubusercontent.com/scopatz/nanorc/master/install.sh | sh` on my Mac running Yosemite and then opened an existing Markdown file.

![image](https://cloud.githubusercontent.com/assets/8861290/

[2017-05-14 02:53] averyfreeman opened #148 "Not an issue - just wanted to say thanks!!"
Thank you so much for maintaining this branch
I've been using nano on all my *NIX variants for years and the syntax highlighting is so, so great
Please keep the repo up indefinitely!
Thank you - thank you - thank you - thank you!

[2017-05-15 20:22] scopatz commented on #87
@iHarshad pull requests welcome :)

[2017-05-15 20:22] scopatz commented on #148
Much appreciated @averyfreeman! I have no intention of taking this repo down :)

[2017-05-16 11:38] iHarshad commented on #87
@scopatz, I didn't make a pull request as the code in the repo is correct. I think after the install, I must have entered some command in one of the many terminal prompts I had opened at the time which changed the line.

[2017-05-16 16:50] scopatz commented on #87
Ahh Ok

[2017-05-18 12:48] Pilskalns commented on #142
Still... this is broken.

[2017-05-20 14:55] avrildev opened #149 "Add option to install globally, e.g. the makefile from the nanorc/nanorc project"
Without this option, it makes it a bit awkward to install on shared machines. Better to install under `/usr/local/share` in that use case.

[2017-05-20 22:38] scopatz commented on #149
Pull requests welcome!

[2017-05-21 09:25] avrildev commented on #149
Oh, cool. I'll get on that as soon as I free time then. :)

[2017-05-21 11:21] DanTheMathsMan commented on #148
I have to agree, finding this has made my life so much easier. You are a great help!

[2017-05-21 15:52] scopatz commented on #149
awesome! Thanks!

[2017-06-01 00:02] myersg86 commented on #142
Still an issue. Let me know if I can be of assistance. I understand the problem and have ideas how to fix it.
Is this script intended to be run with BASH as the default shell?

[2017-06-15 19:09] scopatz commented on #142
Hi @myersg86 yes, it is intended with Bash.  Pull requests welcome. #141 took away too much of the existing infrastructure to be viable.

[2017-06-15 19:52] SamuelEnglard commented on #142
@scopatz and my fix? #143

[2017-09-01 20:23] deltarod commented on #49
I just got this problem, is the header tag even important?

[2017-09-12 06:25] itreers opened #156 "Error in ini.nanorc"
Hi.
I have a problem after installation. If I will try to edit ini file with nano its all black.
I found that in ini.nanorc color set to "brightblack". It's a mistake?
http://share-srv.pulsarfour.com/am/putty_2017-09-12_09-17-55.png

[2017-09-12 19:04] scopatz commented on #156
please feel free to put in a pr with a fix!

[2017-10-02 16:04] crimsoncoast commented on #49
I also encountered the numerous errors and occasional segfault; what worked for me was removing the .nanorc file. Disclaimer: this results in no syntax highlighting but at least you can use nano without segfaults or 13 error messages.

[2017-11-13 17:03] Maldaris opened #158 "Javascript Template Literal Support"
Currently, the following code block (and variations thereof) aren't highlighted with the `javascript.nanorc` rules.

[code]

I've tried (and failed) to create a solution, but will keep working on it.

[2017-11-25 13:29] scopatz commented on #158
Pull requests welcome!

[2017-12-23 20:28] stefanocudini opened #160 "in debian 9 Stretch occur error at run"
# ./install.sh
./install.sh: 3: ./install.sh: Syntax error: "(" unexpected

[2018-01-02 13:03] gmcclins commented on #160
I am unable to reproduce this issue on Debian Stretch. Is it still an issue for you?

[2018-01-02 13:05] stefanocudini commented on #160
yes is very strange... however I'll to try replace sh with bash

[2018-01-02 13:05] #160 closed

[2018-01-28 08:38] chrcoluk opened #164 ".nanorc regex errors on nano 2.8+"
Here is contents of the file. No errors in 2.7.4

2.8+ says bad regex.

Any idea if its a bug or just some tightening up of criteria that has caught out legit bad regex?, thanks.

`set tabsize 4

## Here is an example for Bourne shell scripts.
##
syntax "sh" "\.sh$"
header "^#!.*/(ba|k|pdk)?sh[-0-9_]*"
icolor brightgreen "^[0-9A-Z_]+\(\)"
color green "[[:<:]](case|do|done|elif|else|esac|exit|fi|fo

[2018-03-20 19:51] scopatz commented on #164
Pull requests welcome!

[2018-05-01 20:47] yochem opened #168 "[yaml] Syntax highlighting hardly works"
**First of all, thanks for all the work you put in these rc files!**

OS: Mac
Nano: 2.9.5 (brew)
Terminal: Hyper

When i tried using the `yaml.nanorc` file, it worked only partly (only the whitespaces aka the last 2)
Here is a screenshot of a yaml file with the current rc file:

![Current file](https://user-images.githubusercontent.com/23235841/39491647-5a4375c8-4d8d-11e8-8b71-cb4e50f7a04d.png)

I

[2018-05-01 20:48] yochem commented on #168
`yaml.nanorc`:
[code]

[2018-05-02 15:36] scopatz commented on #168
Thanks! I think that looks a lot better.  Please feel free to put in a PR with that change. Let me know if you need help

[2018-05-03 21:21] #46 closed, assigned to nobody

[2018-05-04 16:15] scopatz commented on #168
Thanks a ton!

[2018-05-04 21:36] jc-iacono commented on #168
Hi there, there may be a typo in the first 2 lines !

Line1
-syntax yaml ".ya?ml"
+syntax "yaml" ".ya?ml"

Line 2 might be to be removed
-comment "#"

(Or maybe I misunderstood, tell me if it's the case)

Thank you ! :)

[2018-05-04 23:09] scopatz commented on #168
A PR with a fix would be great!

[2018-05-05 10:07] yochem commented on #168
It's working fine on my computer, but it's indeed better to wrap yaml with quotes.

The comment line enables the option to type `M-3` for commenting a line out. From the man-page:
"
## comment "string"
   Use the given string for commenting  and  uncommenting  lines.
   If  the  string contains a vertical bar or pipe character (|),
   this designates bracket-style comments; for  example,  "/*|*/"

[2018-05-05 10:17] yochem commented on #168
@jc-iacono I fixed the syntax yaml part in PR #170

[2018-05-05 16:13] DDifDEVzero commented on #168
hello scopatz

from a fresh install debian here is the output when start nano (in german):

Fehler in yaml.nanorc in Zeile 2: Befehl „comment“ nicht verstanden

Fehler in yaml.nanorc in Zeile 17: Farbe „normal“ nicht verstanden.
Gültige Farben sind „green“ (grün), „red“ (rot), „blue“ (blau),
„white“ (weiß), „yellow“ (gelb), „cyan“ (zyanblau), „magenta“ (magentarot)
und „black“ (schwarz), mit dem o

[2018-05-05 19:37] yochem commented on #168
hhm, what version are you using?

[2018-05-05 19:44] DDifDEVzero commented on #168
hello,

I used debian 9.4

Yochem van Rosmalen <notifications@github.com> schrieb am Sa., 5. Mai 2018,
21:37:

[2018-05-05 19:47] DDifDEVzero commented on #168
The Error say he is not recognized the color by name 'normal' only
'brightwhite'

Markus Krawanja <krawanja.markus@gmail.com> schrieb am Sa., 5. Mai 2018,
21:44:

[2018-05-07 16:48] scopatz commented on #168
Please feel free to put in a PR that fixes this issue!

[2018-05-08 07:50] mrtaurusp commented on #28
I got the issue again with nano version 2.3.1

` GNU nano version 2.3.1 (compiled 04:47:52, Jun 10 2014)
 (C) 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007,
 2008, 2009 Free Software Foundation, Inc.
 Email: nano@nano-editor.org    Web: http://www.nano-editor.org/
 Compiled options: --enable-color --enable-extra --enable-multibuffer --enable-nanorc --enable-utf8
`

[2018-05-08 12:54] yochem commented on #168
Fixed in PR #171

[2018-05-08 12:54] #168 closed

[2018-05-12 17:47] Blaiserman opened #174 "Bad syntax in yaml.nanorc"
Error in /usr/share/nano-syntax-highlighting/yaml.nanorc on line 2: Command "comment" not understood

[2018-05-13 02:49] scopatz commented on #174
Thanks for letting us know! Pull requests welcome

[2018-05-13 18:10] Alkaris commented on #174
Just commenting out that line fixes the issue. I really don't get why you would add something like that which isn't understood by nano.

[2018-05-13 18:40] scopatz commented on #174
Different versions of nano have different syntaxes and so you are probably using an older version

[2018-05-13 20:33] Alkaris commented on #174
v2.5.3 here, so maybe, latest build is 2.9.6-1 testing/unstable.

[2018-05-13 21:54] mobluse commented on #174
I've read `comment` is supported in 2.6 and up. I also have 2.5. Commenting of `comment` in YAML is in my pull request for Verilog.

[2018-05-27 17:32] ericmjl commented on #148
Also would like to say thanks here! I default to this repo when I setup a new machine :smile:.

[2018-06-16 18:37] BarbzYHOOL commented on #148
Me too. I also looked at another similar repo but I dunno, I prefer this one

[2018-06-16 18:39] BarbzYHOOL commented on #149
I guess this can be closed now :P

[2018-08-16 20:46] patrickelectric commented on #104
Im having the same problem with 2.9.8, last nano version.

[2018-09-03 19:32] metaa opened #184 "JavaScript and JS - What's the difference?"
Why do we have two different files for JavaScript - namely `js.nanorc` and `javascript.nanorc` - here?

[2018-09-04 14:07] scopatz commented on #184
I think people had slightly different tastes at some point.  Feel free to use either.

[2018-09-06 20:14] mpalermo73 opened #186 "prolog.nanorc"
`$ nano

Error in /home/palermo/GIT/nanorc/prolog.nanorc on line 3: Regex strings must begin and end with a " character

Error in /home/palermo/GIT/nanorc/prolog.nanorc on line 4: Command "comment" not understood

Error in /home/palermo/GIT/nanorc/prolog.nanorc on line 7: Color "normal" not understood.
Valid colors are "green", "red", "blue",
"white", "yellow", "cyan", "magenta" and
"black", with

[2018-09-07 14:41] scopatz commented on #186
I think you might be on an older version on nano

[2018-09-09 21:03] twiddern commented on #186
I can confirm this using the debian stretch shipped nano verison

[2018-10-11 21:37] tomcharter365 opened #191 "Bad regex in yaml.nanorc"
Error in ~/.nano/yaml.nanorc on line 9: Bad regex "(^|\s+).*+\s*:(\s|\$)": repetition-operator operand invalid

[2018-10-11 22:17] scopatz commented on #191
PRs welcome!

[2018-10-21 10:12] josopu opened #192 "Add linenumber"
Hey! Is it possible to add the "set linenumber" to your config files? Thanks!

[2018-10-23 16:20] scopatz commented on #192
Sure, PRs welcome!

[2018-10-30 09:39] Jacopx commented on #104
I still have this problem! Some solution?

[2018-10-30 14:44] scopatz commented on #104
I am not sure what is going on here

[2018-12-14 18:03] mhf-ir opened #198 "Color "normal" not understood"
[code]

[code]

[code]

[2018-12-20 07:59] storytime commented on #198
+1

[2018-12-20 16:00] scopatz commented on #198
This is likely because your nano is on an older version.

[2018-12-20 16:46] mhf-ir commented on #198
That's right but seems be your repository need 2.x and 3.x branches for coverage both versions.
Most of distros use 2.x as default editor

[2018-12-20 16:54] scopatz commented on #198
I thought normal was added in 2.9

[2018-12-20 17:00] mhf-ir commented on #198
Seems be not added. you are see ubuntu 18.04 lts error.

[2019-01-20 13:42] thuban-arrakis opened #205 ".j2 syntax no highlighting"
Hey, thanx for your work.
I have a little issue with weird nanorc behaviour with .j2 files in Nano 2.7.4
First of all, i have both `include` options in `/etc/nanorc`
`# cat /etc/nanorc | grep html`
`include "~/.nano/html.nanorc"`
`include "~/.nano/html.j2.nanorc"`
And such as language.nanorc
`# ll /root/.nano/ | grep html`
`-rw-r--r-- 1 root root 1756 Jan 20 14:34 html.j2.nanorc`
`-rw-r--r-- 1 roo

[2019-01-29 18:29] johnwc opened #206 "RPM repos"
Anyway we can get this added to the CentOS default repos, the same one that has nano in it?

Also, can there be a version that is specific to Nano v2? So that when it is installed we don't have to edit the files to make them compatible for Nano v2.

[2019-01-29 18:42] scopatz commented on #206
That would be great! not sure what is involved in doing that

[2019-01-29 18:53] johnwc commented on #206
I submitted a question to CentOS team asking how we go about doing that. In the mean time, think you can get the v2 only updates separated out, and maybe create a RPM with a dependency on the existing nano RPM?

[2019-02-07 10:37] tomkyle commented on #198
My solution is to install [Linuxbrew](https://linuxbrew.sh/) and brew the “nano” formula which gives me version 3.2:

[code]
The linuxbrew's _bin/_ dir must of course be in _$PATH_. Check which and version:
[code]

[2019-02-12 10:21] E3V3A opened #207 "Please provide a link to the original nano repo in README"
Many issues are talking about the upstream (orginial?) nano repo. But there are no links anywhere.
Please add a link to the "upstream" nano repo.

[2019-02-12 16:23] scopatz commented on #207
I am not sure what you are talking about specifically. There is no upstream nanorc repo.  There is the nano project itself

[2019-02-12 22:35] E3V3A commented on #207
Yep, that's what I meant. :)

[2019-02-12 22:36] scopatz commented on #207
Ahh. OK.  PRs welcome :)

[2019-02-13 07:57] E3V3A commented on #207
Sure:
1. click on [README](https://github.com/scopatz/nanorc/blob/master/Readme.rst)
2. Then click on the edit button and
3. Add:
  - `[avrdude site](http://savannah.nongnu.org/projects/avrdude)`
  - `[avrdude repo](http://svn.savannah.gnu.org/viewvc/avrdude/)`

and *voila'*  No PR needed!

[2019-02-13 09:56] scopatz commented on #207
Yep I am totally willing to merge a PR to that effect

[2019-02-27 14:57] lopho commented on #207
@E3V3A what repo is that? Definitely _not_ nano.
This is nano:
Project page: https://www.nano-editor.org/
Git repo: https://git.savannah.gnu.org/cgit/nano.git

[2019-02-27 15:14] lopho opened #209 "License issue"
Most of these files are directly derived from the original nano project, which is licensed unter the GPL 3.0
https://git.savannah.gnu.org/cgit/nano.git/tree/syntax
https://git.savannah.gnu.org/cgit/nano.git/tree/COPYING

They cannot be re-licensed under a more permissive license without the original authors explicit consent or a separate license agreement with said authors.

The current license is

[2019-02-27 15:16] lopho commented on #209
WHOOPS.
Was looking at a different nano syntax repo in parallel. Sorry! Everything is in order here.

[2019-02-27 15:16] #209 closed

[2019-02-27 15:20] #207 closed

[2019-02-27 17:03] duhok1 opened #210 ".conf no syntax highlight!"
I have set the `include "/usr/share/nano-syntax-highlighting/*.nanorc"` but it seems syntax highlighting is not working with a **.conf** file.

![screenshot_20190227_120214](https://user-images.githubusercontent.com/46654846/53508411-b13be800-3a87-11e9-8f52-a8feeedf6c9a.png)

Thanks in advance!

[2019-02-27 17:32] scopatz commented on #210
I am not sure that you can use `*` in the includes

[2019-02-27 17:55] duhok1 commented on #210
Switching to and enabling upstream syntax with `include "/usr/share/nano/*.nanorc"` seems to work!

![screenshot_20190227_125256](https://user-images.githubusercontent.com/46654846/53511650-e566d700-3a8e-11e9-8b30-8574bd07fbf7.png)

[2019-02-27 17:58] scopatz commented on #210
Excellent!

[2019-02-27 18:00] duhok1 commented on #210
Just wondering, can we enable both the upstream and this without syntax conflicts?

[2019-02-27 18:05] scopatz commented on #210
I think you should be able to include whichever files you want

[2019-02-27 18:57] duhok1 commented on #210
Having both **conf.nanorc** and **xml.nanorc** result in xml code in my example above in a _fonts.conf_ file to not show syntax. Removing conf.nanorc make the syntax works like above!

[2019-02-27 21:33] E3V3A commented on #207
@lopho
Whoops! Copy paste errrorrrr LoL!

[2019-03-03 21:46] E3V3A opened #212 "Feature Request: Add Gradle"
Please consider adding a `gradle.nanorc`.
Or perhaps there is already something covering that?

[2019-05-10 21:09] navid9675 opened #221 "Feature Request: Add TypeScript"
It would be great to add `TypeScript` to the supported languages.
Thanks!

[2019-05-10 22:06] scopatz commented on #221
Pull requests welcome!

[2019-05-14 21:36] scopatz commented on #212
Pull requests welcome!

[2019-05-14 21:37] scopatz commented on #206
I am happy to take a PR that updates these

[2019-05-14 21:37] scopatz commented on #206
in a way that has them as separate files

[2019-05-14 21:38] scopatz commented on #205
Pull requests welcome!

[2019-05-15 01:54] KsenZ commented on #198
Same error with Nano 2.7.4, default on Debian 9.9

[2019-05-15 03:05] scopatz commented on #198
PRs welcom!

[2019-05-17 16:32] #221 closed

[2019-05-26 17:33] peterdd commented on #104
related #49

Maybe the install script should check the current version of nano. For instance, mac os x 10.13.6 (current updates installed) still has 2.0.6

[code]

[code]

Do not forget to open a new bash, or the old version is still used in the current bash session:

[code]

[code]

[2019-05-29 01:24] scopatz commented on #104
A PR that hase support for older versions of nano would be great!

[2019-06-09 14:33] DesertPunk commented on #198
i've submitted a pull request that will fix the issue on all installs by changing the "normal" to "white"

[2019-06-14 16:16] scopatz commented on #198
As explained in some other issues, white is not a good substitue for normal.  It is better to have copies of the file with version numbers that support older nanos.

[2019-06-18 13:58] AlineFreitas opened #229 "Ran into multiple issues on MacOS after install"
`Error in /Users/alinefreitas/.nano/awk.nanorc on line 2: Command "header" not understood`

`Press Enter to continue starting nano.`

`Error in /Users/alinefreitas/.nano/coffeescript.nanorc on line 2: Command "header" not understood`

`Press Enter to continue starting nano.`

`Error in /Users/alinefreitas/.nano/etc-hosts.nanorc on line 11: Color "normal" not understood.`
`Valid colors are "green",

[2019-06-18 14:21] SuperSandro2000 commented on #229
Update nano

[2019-06-18 19:50] scopatz commented on #229
Sorry that you are running into issues here @AlineFreitas.  Very strange that you are seeing a segfault though.

As I have said previously, I am happy to take a PR that copies files into nano-version-specific versions (e.g. python-2.9.nanorc) and removes the normal for the older nano versions

[2019-06-20 00:37] ai-danno commented on #145
Two things about this (for those who arrive here via Google search):

1. This problem still exists in nano 3.1 on OpenBSD 6.4

2. The fix is not to replace merely the '<' and '>' characters with '\b', but rather to include the surrounding ':' characters of them as well. AKA, replace ':<:' and ':>:' with '\b'.

That is the fix for my particular situation.

[2019-06-20 16:02] scopatz commented on #145
PRs welcome

[2019-06-21 15:45] Findarato opened #231 "fsharp"
fasharp.nanorc is throwing the following errors

fsharp.nanorc on line 8: Regex strings must begin and end with a " character
fsharp.nanorc on line 8: Regex strings must begin and end with a " character
fsharp.nanorc on line 21: Regex strings must begin and end with a " character
fsharp.nanorc on line 21: Regex strings must begin and end with a " character

[2019-06-22 15:07] swoopsta commented on #231
I've replicated this error with Nano 3.2 on the Raspbian flavor of Debian Stretch Lite. For some reason it doesn't like the Comments in lines 8 and 21. Delete the comments and it works

[2019-06-23 02:42] AlineFreitas commented on #229
I'll try to do what @SuperSandro2000 suggested first, then I'll get back to you! ;)

[2019-06-24 13:59] scopatz commented on #231
PRs welcome!

[2019-06-27 18:44] FilipeMCruz commented on #231
Hi! I ran into this problem today. Instead of commenting the line, try to remove/move the comment at the end of each of those lines

[2019-07-05 17:09] frandarre commented on #229
I'm having the same issue, even after updating with brew. Any updates on this?

[2019-07-10 15:00] okainov commented on #198
Same issue here, normal nano from Ubuntu 18, 2.5.3

[2019-07-10 15:05] okainov opened #238 "Command "comment" not understood"
[code]

[code]

[2019-07-10 17:31] SuperSandro2000 commented on #238
Did you try updating to a more recent nano/ubuntu version?

[2019-07-10 20:51] okainov commented on #238
Yes, rebuilding nano and updating to 2.9.3 helped. But this doesn't change the fact that issue is here :)

[2019-07-10 22:24] SuperSandro2000 commented on #238
Well... I don't think this project can be compatible with all nano versions especially if the syntax changed in a not so recent version. You are free to contribute a PR to fix it.

[2019-07-16 20:10] pkiula commented on #238
A fresh install of CentOS 7.6 comes with a certain version of Nano. Your script is pointless if it doesn't work with that. These are widely used OSes. Anyway, thanks.

[2019-07-16 21:35] SuperSandro2000 commented on #238
@pkiula I am pretty sure he uses Ubuntu.

Then update it your old nano or contribute a fix to make the rc files work on old and new nanos.
I think if you write such comments it is rather pointless and does not contribute to this project in any way.

BTW I already have seen a lot of Linux machines and not a single one of them used CentOS. Mache it isn't as widely used as you think.

[2019-07-23 09:52] esler commented on #198
My suggestion is to create a new branch for legacy support. We can define minimal compatible version of `nano` (eg. 2.3.x from RHEL 7). Then we can fix all incompatibilities there, without changing the master. After that user can decide which branch will checkout based on its version.

[2019-07-23 12:54] scopatz commented on #198
@esler that is also a good idea!

[2019-07-23 14:08] esler commented on #198
@scopatz let's do that. I've changed PR #224 to work with branch/version `v2.9`. Please create that branch and I can change the target in the PR. thx

[2019-07-23 14:16] scopatz commented on #198
Created!

[2019-07-23 15:00] esler commented on #198
Ok, I've changed base of my PR and fixed installation guide. You can merge it :-)

[2019-07-24 13:06] mhf-ir opened #240 "A 'color' command requires a preceding 'syntax' command"
This is my automation script on Ubuntu 18.04:

[code]

[code]

Seems be some of file is not compatible:
[code]

[2019-09-13 10:49] mhf-ir opened #245 "crontab seems be no highlight"
Crontab not highlighted.

[code]

[code]

![Screenshot from 2019-09-13 15-18-43](https://user-images.githubusercontent.com/1172526/64857458-d5cd6b00-d639-11e9-8569-4be1f4f4141a.png)

[2019-09-13 11:39] SuperSandro2000 commented on #245
You probably installed nanorc as your user and not root.

Also that nano is quite old.

[2019-09-13 11:45] mhf-ir commented on #245
Other syntax like nano /etc/hosts work well, same user **root**

[2019-10-05 14:23] TJProgrammer opened #251 "WIP - Themes"
This issue is to know if a theme solution for syntax will be accepted or good for others.
Please, let me know  (@scopatz). Thanks!

[2019-10-05 15:22] scopatz commented on #251
Yeah! I am open to this!

[2019-10-05 22:41] TJProgrammer commented on #251
Ok. I'm working on that. When I get some results, you will know. Thanks.

[2019-10-11 11:32] mahorad opened #253 "Mistakes . in ~/.nano/etc-hosts.nanorc"
I'm getting this error after installation when opening any file with nano.
`[ Mistakes in '~/.nano/etc-hosts.nanorc' ]`

[2019-10-11 12:10] SuperSandro2000 commented on #253
Which version of nano are you using?

[2019-10-13 23:19] krathalan opened #255 "Add release versions"
The AUR `nano-syntax-highlighting-git` package is a fairly popular package with 119 upvotes (https://aur.archlinux.org/packages/nano-syntax-highlighting-git). Foxboron (an Arch trusted user and part of their security team) created a thread on Reddit asking for repository packaging requests. I requested this package, but the request was denied because upstream (here) doesn't provided releases, only

[2019-10-14 19:56] SuperSandro2000 commented on #255
Tag at every commit?

[2019-10-14 20:55] krathalan commented on #255
@SuperSandro2000 I'm not sure what you mean. I assume you mean that "master is the release," and I understand that, but perhaps a commit could be declared as a version every month or so for the purposes of official packaging?

[2019-10-14 21:28] SuperSandro2000 commented on #255
Yeah, master is release. Probably a good idea then would be to tag it YEAR.MONTH cause semantic does not make sense here I think.

[2019-10-16 00:12] vcg3rd commented on #253
I have the same problem.  I'm using nano version 2.9.3.  I deleted etc-hosts.nanorc because I rarely edit the hosts file, and now I get "Mistakes in $PATH/.nanorc" with every file I open.

[2019-10-16 09:11] SuperSandro2000 commented on #253
@vcg3rd Update your ancient nano. The current upstream release is 4.5!

[2019-10-17 20:35] scopatz commented on #255
Done! Thanks for pushing on this.

[2019-10-17 20:35] #255 closed

[2019-10-18 15:01] xgouchet opened #256 "Include a Kotlin syntax highlighting"
There's not (yet) a syntax file for Kotlin. Kotlin is an evergromwing language with a couple of usual extensions : *.kt and *.kts (kotlin script). It would be really nice to have syntax highlighting definition for this language.

[2019-10-18 15:02] xgouchet commented on #256
Maybe you could merge PR #150 which is apparently ready to be merged ?

[2019-10-18 18:34] wsdmatty opened #257 "Undefined Versioning Scheme"
I recently picked up maintaining this project in the Archlinux User Repository and I have one request.

I am a stickler for versioning numbers in the packages I maintain, and although I see you have a separate branch with a version number, there are no annotated tags between version 0.0.0 and HEAD, and on the master branch, the only tag (un-annotated) is a datemark, not a version number.

Would it

[2019-10-18 18:42] wsdmatty commented on #257
After poking around I've found that the difference between master and v2.9 is exactly that.. the name. And two slight differences in etc-hosts.nanorc and html.nanorc which could likely be merged. That could be done, and the revision tagged 2.9.1, and my OCD is happy. >_>

[2019-10-18 21:47] Foxboron commented on #255
https://www.archlinux.org/packages/community/any/nano-syntax-highlighting/

[2019-10-18 22:30] scopatz commented on #255
Thanks!

[2019-10-19 02:01] scopatz commented on #257
The 2.9 branch is for nano v2.9 (which is super old) and I do not recommend using it on modern systems.  Sadly some people still want to use these archaic versions of nano. Master is for recent versions of nano.  I will only be releasing tags against the master, so there is no reason to worry about the 2.9 branch.  The version scheme is just the data in YYYY.MM.DD format.

[2019-10-19 02:30] wsdmatty commented on #257
Ookay. Fair enough.
I guess i was thrown off by the initial commit being v0.0.0 and then a 2.9 branch.

[2019-10-19 02:30] #257 closed

[2019-10-19 13:38] xgouchet commented on #256
Perfect thanks @scopatz

[2019-10-19 13:38] #256 closed

[2019-10-20 22:57] vcg3rd commented on #253
Thanks.  I'll consider it.  I've used GNU/Linux since 1998, but I am not and never have been a coder, programmer, developer, system admin, or any other IT-whatever, so I almost always stay with the package manager.  I'm surprised KDE Neon, using Ubuntu 18 (LTS) core isn't at least shipping 3.2-3, which is in Debian Stable.

[2019-10-21 13:48] scopatz commented on #253
Or you can use the v2.9 branch of this repo if you need compatibility.

[2019-10-27 23:22] TJProgrammer commented on #251
More updates: see please this commits:
https://github.com/TJProgrammer/nanorc/commit/29702014e0b8c486cafeb894a1f3c780735e51e1
https://github.com/TJProgrammer/nanorc/commit/8442d3ad3543aa65b9cc40f2d5b56fcf74eeaa87
@scopatz, what do you think?

[2019-10-31 18:40] scopatz commented on #251
Please open a PR, thanks! :wink:

[2019-10-31 21:30] TJProgrammer commented on #251
Thanks, but not now, because the install script will fail...

[2019-11-21 07:41] michaelsogos opened #263 "Many different error when include all syntaxes rules"
Hi @scopatz ,

When i make a file to include every file .nanorc i encounter following error.
[code]
On CentOS 7.3 and Nano 2.3.1.

[2019-11-21 08:10] SuperSandro2000 commented on #263
Use a newer nano. Current release version from https://www.nano-editor.org/ is 4.5.

[2019-11-22 00:24] scopatz commented on #263
Yeah, Or try using the v2.9 branch.

[2019-11-26 21:30] #263 closed

[2019-12-07 19:54] BarbzYHOOL opened #267 "Rnw.nanorc Bad regex"
When I open anything with nano, I get this error before it opens

[code]

Here is the commit I am on:
c705a50 2019-12-02 Anthony Scopatz (HEAD -> master, origin/master, origin/HEAD) Merge pull request #265 from msfjarvis/systemd

[2019-12-09 22:14] scopatz commented on #267
maybe try using the v2.9 branch?

[2019-12-09 23:57] BarbzYHOOL commented on #267
i quickly checked out v2.9 and it doesn't display any error

can you fix it in master too ? xD

[2019-12-16 16:09] InstanceOfMichael commented on #184
do either file work for typescript, or does typescript need it's own config?

[2019-12-18 19:59] scopatz commented on #184
Typescript would be its own config I think

[2019-12-27 18:24] BarbzYHOOL commented on #267
so should I use v2.9 or master or what? @scopatz

[2019-12-27 18:47] SuperSandro2000 commented on #267
Yes, you should use V2.9 as it is for V2.9 or older. The master branch is for newer Nano versions.

[2019-12-28 22:41] BarbzYHOOL commented on #267
omg i just realized it corresponds with my nano version which is .... v2.9

Such a coincidence because I had to build nano from scratch to get it to v2.9 loool, thank you guys, i didn't realize

[2019-12-28 22:41] #267 closed

[2019-12-30 19:27] Wqrld commented on #27
old issue but this is still a problem when using nano from git bash on windows where DOS newlines are used

[2019-12-30 22:55] mhf-ir opened #277 "fix nano 2.9"
Error using nano 2.9.3:
[code]

[code]

[2020-01-04 20:15] BarbzYHOOL commented on #277
when does this issue occur? i don't have it (just switched to v2.9 tho and i'm on 2.9.8)

[2020-01-05 06:45] mhf-ir commented on #277
default nano Ubuntu 18.04

[2020-01-05 13:36] mhf-ir commented on #277
![Ubuntu versions](https://upload.wikimedia.org/wikipedia/en/timeline/82f739a95d70673253619fec71120b5e.png "Ubuntu versions")

It's seems until 2028 18.04 will be alive

[2020-01-05 14:03] SuperSandro2000 commented on #277
Feel free to send a PR to the v2.9 branch.

And only cause Ubuntu decides to put in nano 2.9 in their LTS branch does not mean this project needs to support it. Debian stable has 3.2 so I don't care.
Also just upgrade to 19.10 or backport nano if this is so important to you.
And don't start to argue that 19.10 is not stable. It is. Running it since a week after the release and never had problems w

[2020-01-05 14:39] mhf-ir commented on #277
I think better to support most popular distro on the web or even clients:
https://w3techs.com/technologies/details/os-linux
Nano users use linux and we must care the version and backward compatibility.
Nano mostly used on server as editor and Servers usually run LTS versions.
So it's simple need to backward compatibility of Most popular linux distro lts version for Ubuntu.

I'v already send PR.

[2020-01-05 15:18] BarbzYHOOL commented on #277
yes mhf-ir I agree, however I don't have this bug at all on 2.9.8 (which I manually compiled though)

[2020-01-25 23:47] krathalan opened #280 "New release"
Maybe time for a new release? :)

https://github.com/scopatz/nanorc/compare/2019.10.17...master

[2020-01-26 02:16] scopatz commented on #280
done

[2020-01-26 02:16] #280 closed

[2020-01-29 09:51] #277 closed

[2020-02-07 22:38] BarbzYHOOL opened #284 "Smarty .tpl file (like html)"
Would love to see a .tpl syntax highlight

It's from the template engine Smarty, it's like html

Maybe I could do it myself one day but for now I can't spend time on this

[2020-02-07 22:38] BarbzYHOOL commented on #205
would be interesting, true

[2020-02-08 09:35] #205 closed

[2020-02-08 09:35] thuban-arrakis commented on #205
sorry. not relevant already

[2020-02-09 20:12] G-Rath opened #286 "PHP: Strings are not colored by comments"
![image](https://user-images.githubusercontent.com/3151613/74109094-65754680-4be5-11ea-9863-d6d623de9e0a.png)

By not coloring strings when commented, it reduces readability on lines that contain mostly strings.

[2020-02-25 02:11] scopatz commented on #286
Pull requests welcome!

[2020-02-25 02:11] scopatz commented on #284
Pull requests welcome!

[2020-03-20 16:07] evilSwanson commented on #198
What happened to this PR?

[2020-03-20 20:44] scopatz commented on #198
People should use the `v2.9` branch if they have old versions of nano. This can probably be closed

[2020-03-20 20:44] #198 closed

[2020-03-28 12:18] rosnk opened #296 "syntax highlighting not working on nano 4.9"
Installed nano 4.9 in mac, and then used this command
`curl https://raw.githubusercontent.com/scopatz/nanorc/master/install.sh | sh`

got .nano and .nonorc file in root in my mac, but color does not work inside nano 4.9. Also there is no error.

nano --version does show new "GNU nano, version 4.9", do not know why color is not working??

[2020-03-28 17:46] scopatz commented on #296
No that isn't clear. Seems like it should work. Sorry... ☹️

[2020-03-31 13:30] giovannikraushaar opened #297 "XDG"
Very nice, but in order to conform to XDG it should use ~/.config/nano as default folder.

[2020-03-31 13:35] scopatz commented on #297
PRs welcome!

[2020-04-07 11:14] zifredder opened #298 "Manjaro: Installation instructions should specify $install_path"
Thank you for the nice package!

Installing the package on Manjaro via the package manager did not work right away. In your installation instructions under Configuration, you specify that this command needs to be run after installation: `echo "include $install_path/*.nanorc" >> ~/.nanorc`
However, there is no information about where the variable `$install_path` is supposed to point to. If not set

[2020-04-07 19:25] scopatz commented on #298
Thanks for the pointing this out.  PRs are always welcome!

[2020-04-08 12:48] yujiri8 opened #299 "nginx.nanorc uses black for comments"
The `nginx.nanorc` uses `brightblack` for comments, which makes them invisible on a black terminal (which I have). I understand that not everyoen uses the same terminal color, but I think black is a relatively common one for background, and that it would be better to use a different color for this.

[2020-04-08 13:49] scopatz commented on #299
Yep, that should probably be changed. Please feel free to put in a PR!

[2020-04-15 15:56] #299 closed

[2020-04-19 20:23] GTAdoum opened #303 "Sieve"
Hello,
Anyone has a nanorc file for Sieve syntax?

[2020-05-08 17:23] yzzyx-network commented on #303
@GTAdoum
I wrote one just for you! :)
https://github.com/scopatz/nanorc/pull/310/commits/b847f09c596eb95d1bfc19408c9ab0e9de3a884a

[2020-05-14 16:56] olserra commented on #267
Still happens for me this error, even with the new code on master. Anyone? I m using a mac...

[2020-06-05 11:37] patarapolw commented on #229
I have these issues,

[code]

There is cURL, but not wget.

[2020-06-05 14:03] patarapolw opened #312 "First two of configuration instructions not work properly on macOS"
1st instruction

[code]

2nd instruction

[code]

Boils down to `header`, `magic`, `comment` and `Bad regex`, actually.

[2020-06-05 14:27] yujiri8 commented on #312
Yeah... it really looks like you have an old version of nano. Some of these directives were added in the last few versions I think. I have 4.9.2 on FreeBSD. I don't think that'll fix bad regex errors though. Those ones might just be mistakes in this repo. You should probably import only the files you need instead of all of them (or try to manually fix or open issues for the ones that still show sy

[2020-06-05 14:35] patarapolw commented on #312
You are right.

[2020-06-05 14:41] patarapolw commented on #312
This is the fix.

[code]

[2020-06-05 14:41] #312 closed

[2020-06-07 17:09] scopatz commented on #229
Thanks for the note @patarapolw

[2020-06-10 04:28] ahmadrezash opened #315 "nano highlight in centos understood error"
hi
In centos server I install this plugin but it has error for all lang before loading highlighting conf file(lang.nanorc)

it's like that:
Error in /root/.nano/ruby.nanorc on line 6: Command "linter" not understood
Error in /root/.nano/sh.nanorc on line 6: Command "comment" not understood
Error in /root/.nano/makefile.nanorc on line 4: Command "comment" not understood

and in addition it has erro

[2020-06-19 19:00] DanteFalzone0 opened #316 "No syntax highlighting for Batch"
This repository doesn't contain any syntax highlighting files for the Batch scripting language used on NT and DOS.

[2020-06-21 21:58] scopatz commented on #316
Pull requests welcome!

[2020-06-29 08:56] mcnesium commented on #267
I see this on Debian Buster with nano v3.2

[2020-07-05 03:49] wangts opened #319 "how to uninstall nanorc"
After I installed nanorc, my nano showed the following error messages when I was opening a very small file. It's really annoying. Can you please let me know how I can remove nanorc entirely? Thank you so much.

Error in /root/.nano/asm.nanorc on line 5: Command "comment" not understood
Error in /root/.nano/awk.nanorc on line 4: Command "comment" not understood
Error in /root/.nano/c.nanorc on line

[2020-07-06 15:08] scopatz commented on #319
You need to edit you ~/.nanorc

[2020-07-18 19:19] #286 closed

[2020-07-28 18:55] jacobkaufman opened #321 "MacOs - Running nano as sudo is not using syntax highlighting"
When I run `nano` as `sudo nano` it just runs the default nano setup, but when I run the command as my username then it works fine. I've looked all over for another `.nanorc` file that it might be pulling from and cant find any other then the one in `/etc` which I have already added the highlighting to. I'm wondering if this is maybe because `sudo` overwriting my environment variables but I'm stil

[2020-07-29 02:29] scopatz commented on #321
You probably need to have `/root/.nanorc`

[2020-07-29 15:40] jacobkaufman commented on #321
I tried to create a root folder but on MacOS the root directory is read-only. I finally figured it out. For some reason running sudo disables all user config so to enable it I have to run `sudo nano --rcfile=/etc/nanorc $file_name` and it works! I think I'm  just gonna make and alias for this and call it a day. Thank you for your help and your work!

[2020-07-29 15:41] #321 closed

[2020-07-30 22:03] purringChaos opened #322 "Add zig support."
I think we should add syntax highlighting for Zig.
https://github.com/ziglang/sublime-zig-language has some regexes and stuff for symbols.

[2020-08-01 15:37] scopatz commented on #322
Pull requests welcome!

[2020-08-05 19:37] DanteFalzone0 commented on #316
Fixed by #323 .

[2020-08-05 19:37] #316 closed

[2020-08-17 18:36] barmadrid commented on #210
I have the same issue, no syntax color for `.conf` file if I use synatx highlighting from this repo instead of nano's default!

@scopatz could please explain? the README  gives this example to include all with `*`:

[2020-08-26 17:07] czechuuu opened #327 "[python] No syntax highlighting for built-in function bool()"
`bool()` is a built-in function that converts to boolean type and neither the function nor its dunder sister `__bool__` are getting highlighted.
![image](https://user-images.githubusercontent.com/55449302/91334437-40d26c00-e7cf-11ea-9d9f-beccd45bc058.png)

[2020-08-26 17:17] scopatz commented on #327
Thanks! PRs welcome!

[2020-08-26 17:17] czechuuu commented on #327
Just created a [pull request](https://github.com/scopatz/nanorc/pull/328) to solve this issue

[2020-08-26 17:24] #327 closed

[2020-10-07 16:28] barthanssens opened #333 "Add support for SPARQL/SPARQL Update"
It would be nice to have syntax highlighting for sparql query/sparql update

[2020-10-07 19:03] ahmadsiddeeq0 opened #335 "zig.nanorc issue"
Error in /usr/share/nano/zig.nanorc on line 2: Color "latte" not understood
Error in /usr/share/nano/zig.nanorc on line 9: Command "tabgives" not understood

[2020-10-07 20:09] scopatz commented on #335
PRs welcome!

[2020-10-30 18:17] fcastilloec commented on #335
I updated to the latest version of `nano` (v5.3) from this page https://packages.debian.org/testing/editors/nano It's for a Debian based distro and you'll have to use a different package (try https://www.nano-editor.org/download.php)
The latest version doesn't show the error anymore. So it seems the code it's not at fault, but this project doesn't specify a minimum version of nano that it's compat

[2020-11-02 01:33] baditaflorin opened #337 "automatic install on MacosX errors"
[code]

[2020-11-02 01:50] baditaflorin commented on #337
Solved after installing nano from brew and creating an alias.

[code]
https://gist.github.com/BlakeGardner/5587269#gistcomment-2113124

[2020-11-02 01:53] SuperSandro2000 commented on #337
The ancient nano version osx still uses might work with the 2.9 branch.

[2020-11-03 14:46] ubuntupunk opened #338 "no highlighting of .Xresources"
have everything enabled, but no highlighting of .Xresources syntax

[2020-11-03 21:38] scopatz commented on #338
It might need to be added to one of the rc files here. PRs welcome!

[2020-11-12 06:55] iomintz opened #340 "elixir string interpolation is getting highlighted as comments"
As is, string interpolation is not being highlighted at all:

![](https://user-images.githubusercontent.com/538336/98905654-66dbe400-2481-11eb-9f82-350a8199da84.png)

Putting the comment definition before the strings definition helps, but it still treats the rest of the line, after the `#{}`, as a comment:

![image](https://user-images.githubusercontent.com/538336/98905870-c89c4e00-2481-11eb-98ea-

[2020-11-16 20:42] eabase opened #341 "add visual basic (VB)"
add highlight code for Visual Basic, VB (`*.vb`).

[2020-11-16 21:10] scopatz commented on #341
PRs welcome!

[2020-11-24 05:35] dannytoomey commented on #337
@baditaflorin I had the same problem and your fix worked for me! Thank you.

[2020-12-16 00:00] barmadrid commented on #338
@scopatz xresources rc already is included though!

[2020-12-17 20:13] scopatz commented on #338
Maybe the path is wrong then in the config file?

[2020-12-17 23:52] LoganDark commented on #192
`set linenumbers` is preference just like `set tabsize 4` - or 2 or 1 or 7 or whatever the kids are using these days...

[2020-12-17 23:56] LoganDark commented on #341
Who edits vb files with nano? VB is a Windows language used by Windows people who don't use Nano

[2020-12-18 23:36] iocouto opened #346 "`brightblack` Makes Text Invisible on Black Terminals"
Black is a very common background colour for terminals, yet the latest upgrades to nanorc seem to have changed several of the syntax files, so that comments are shown in `brightblack`. This means the text basically disappears from the screen.

Comments are usually displayed in a 'dimmed' font, so as to be unobtrusive, but brightblack will make them comfortably visible only in a very small number o

[2020-12-19 03:01] iocouto opened #347 "Replace 'bright' Prefix with 'light'"
The current **[official docs](https://www.nano-editor.org/dist/latest/nanorc.5.html#SYNTAX%20HIGHLIGHTING)** for nanorc syntax highlighting seem to indicate that the prefix `light` should be used, not `bright`, in `color` commands - i.e., 'lightblue' instead of 'brightblue'. There is no mention of a `bright` prefix.

[2020-12-20 01:08] iocouto commented on #347
Further testing shows some issues with the current 'light/bright' syntax in nano - see picture below:

<img width="642" alt="Screen Shot 2020-12-20 at 11 55 29 am" src="https://user-images.githubusercontent.com/75245963/102702769-79d0a800-42ba-11eb-8c22-42580d0181d9.png">

Things to note:

1. neither the 'bright' nor the 'light' prefix changes the foreground colour at all (and this is possibly a b

[2020-12-20 01:12] iocouto commented on #346
As pointed out in Issue #347, it seems that currently 'brightblack' text is displayed by nano as simply 'black', and is therefore invisible on black terminals.

[2020-12-22 08:16] sith-ikjetil opened #348 "Pascal Colors Missing"
Color syntax for pascal files are missing.

[2020-12-22 08:48] nomandera opened #349 "Minimum version incompatibility"
New user. The experience was less slick than it could be due to two configs requiring a higher version than available in my distro

[code]
One of these is already documented here https://github.com/scopatz/nanorc/issues/335

Recommend simply branching when a incompatibly is introduced or simply avoiding incompatible colours and commands.

[2020-12-24 07:49] hjpotter92 opened #350 "The installer requires wget"
I was setting up nanorc for my newer install on office machine, and I went with the installation script with curl.

However, since I hadn't installed wget on the system, the installation script failed:

[code]

The installer should switch between curl or wget accordingly, and it should fail as early as possible. In the output above, it can be seen that despite `wget` not being found, the installer

[2020-12-30 14:12] #348 closed, assigned to nobody

[2020-12-30 14:12] sith-ikjetil commented on #348
I believe you had delphi so I guess it's ok.

[2021-01-12 14:21] pedroarmindo1 commented on #335
To fix this, go to /usr/share/nano/ and edit the file zig.nanorc
`nano zig.nanorc`
On file put // in tabgives

https://prnt.sc/wlv3mb

[2021-01-16 18:28] #335 closed

[2021-01-16 18:28] ghost commented on #335
just delete the zig file

[2021-01-24 19:49] rasa commented on #335
@scopatz said:

I locally created two branches [`pre-5.0`](https://github.com/rasa/nanorc/tree/pre-5.0) and [`pre-4.5`](https://github.com/rasa/nanorc/tree/pre-4.5), that quiets nano's:
[code]
But I can only submit a PR that gets merged into master. They really should be merged into `pre-5.0` and `pre-4.5` branches.

I will submit to master, and perhaps you can create the branches on your end. Tha

[2021-01-25 12:08] tomkyle opened #356 "Support Brewfile?"
Homebrew users wishing to sync homebrew packages between installations, may want to finetune their Brewfile. If this is considered helpful, I'd like to contribute a [Brewfile nanorc file](https://github.com/tomkyle/nanorc-brewfile) made by me and also provide PR.

[2021-02-19 14:13] rashil2000 opened #361 "Make comments italic"
GNU Nano 5.5+ supports italics and bold as text attributes.

Many text editors provide ways to italicize comments, it just makes code elegant to read.

This can be added for version 5.5 and above.

[2021-03-17 18:22] MoffySky opened #362 "How do you uninstall Nanorc?"
I wanted to know how to uninstall nanorc but cant find any documentation.

[2021-03-17 18:54] MoffySky commented on #362
Nvm.. I purged nano and removed all nano files then reinstalled nano!

[2021-03-17 18:54] #362 closed, assigned to nobody

[2021-03-17 19:22] rautamiekka commented on #362
On Debian-type systems it's `/etc/nanorc` and `~/.nanorc`.

[2021-05-08 15:10] igorkravitz commented on #341
We really need nanorc for VB.NET, nano is the best code editor, we use nano inside git bash for windows to edit files vb.net

[2021-05-08 15:16] LoganDark commented on #341
Do you use MSVC for embedded development too?

[2021-05-08 15:20] LoganDark commented on #350
As for curl or wget: they should be using curl anyway as it has the widest compatibility.

As for stopping the whole script when an error is encountered: that is impossible when the recommended method of installation is piping input to your shell. see: https://www.seancassidy.me/dont-pipe-to-your-shell.html

However, they _can_ (and should) check the output of each command individually.

[2021-05-09 11:14] igorkravitz commented on #341
No, I don't use MSVC. Is it a tool for C, C ++? I just use git bash for windows 10, I really like this set of tools. From git bash I compile vb.NET using dotnet from Microsoft.NET SDK 5.0x64. I am a beginner developer .NET, so I write console applications vb.NET, C#  for Windows. Of course, there is hyper-v, and the installation of ubuntu into it, there is mingw64, msys, cygwin, there is vsl2, but

[2021-05-09 16:17] eabase commented on #341
@LoganDark

Who says, Windows people don't use Nano? I know dozens of people who's been using Cygwin for decades, before the arrival of WSL, and still even now, as WSL is PITA in terms of bloat or usage. Fire up Cygwin install Nano, done!

Other users include data scientists, security researchers and system & network operators etc etc.

Unfortunately, we're not able to get rid of VB, so in terms o

[2021-05-09 16:20] LoganDark commented on #341
I did not consider the case of actual CLI users encountering legacy scripts written in VB. My bad.

Also: I never said no Windows users use nano. I said the sort of person who would be writing Visual _Basic_ scripts, probably wouldn't be. I know WSL exists, I use it myself. Same for Cygwin and other unix-like environments.

"Windows people who don't use Nano" is a _subset_ of all people who use Wi

[2021-06-02 20:32] smammy commented on #42
Solarized is a 16-color theme, but it (ab)uses four of the "bright" colors to provide a wider range of greys.

Assuming the user has set up their terminal such that the 16 standard ANSI colors are mapped onto either the Solarized Light or Solarized Dark palette, I _think_ it would be possible to transform existing `color`/`icolor` statements to use Solarized-compatible color names.

Because bright

[2021-06-04 22:28] Yash-Singh1 opened #369 "Support for `.javascript`, `.typescript`, `.jsx`, and `.tsx`"
Currently, these files aren't syntax highlighted.

- [ ] `.typescript` (#372)
- [ ] `.javascript` (#372)
- [ ] `.jsx`
- [ ] `.tsx`

[2021-06-07 16:16] Yash-Singh1 opened #371 "Add support for .npmrc"
.npmrc files are basically .ini files, so it can be added into ini.nanorc

[2021-06-17 13:33] jwest75674 opened #374 "Feature Request [python.nanorc]: add f-string support"
Newer versions of python have the super awesome format string / f-strings (https://www.python.org/dev/peps/pep-0498/)

However, these don't have syntax highlighting here just yet.
This appears complicated due to f-strings appearing within strings in regard to color, but this would be an awesome funcitonality.

[2021-06-22 21:11] demosdemon opened #375 "Error in .nano/nanorc.nanorc on line 26: Color 'normal' takes no prefix"
change in nano: https://git.savannah.gnu.org/cgit/nano.git/commit/src/rcfile.c?id=e0442849988444065145449c90861172c6aba302

[2021-06-25 13:46] jdsampayo commented on #337
@baditaflorin had the same issue on BigSur, now the directory of brew starts different:

`alias nano='/opt/homebrew/Cellar/nano/5.8/bin/nano --tabstospaces --linenumbers --tabsize 2'`

[2021-07-25 21:47] karlbateman commented on #375
I've successfully supressed the error with the following patch:
[code]

[2021-07-30 08:54] Aksheet10 opened #379 "Revert back"

[2021-08-31 20:15] ritu1337 commented on #375
in `~/.nano/nanorc.nanorc` comment out `color brightnormal " brightnormal"`

[2021-09-19 05:03] #379 closed, assigned to nobody

[2021-11-07 16:16] greenonline opened #382 "Feature Request: Resource file for Visual Basic"
Pertaining to this question on Stack Exchange Unix & Linux, [Syntax highlighting combinations of strings and comments in nano](https://unix.stackexchange.com/q/676339/97255), could a resource file be provided for Visual BASIC?

[2021-11-23 21:57] MacaroniGurl opened #383 "Syntax Highlighting does not appear when I sudo [Arch]"
I installed the Syntax Highlighting through curl, and for some reason on Arch Linux it does not appear in sudo nano.

[2021-12-01 23:11] cfskelly commented on #253
Using Nano version 5.9 via Antix-21 message in the ROX terminal upon opening:
Error in ~/.nanorc on Line 76 unknown option "smooth".

Found and commented out adding a '#' at the beginning of the 'set smooth'  line.

Problem solved.

[2021-12-03 14:38] cvemys commented on #383
when you run sudo,the program will run as the root user therefore it will search /root for config files instead of your user home directory.so if you need syntax highlighting while running nano as root you can either copy your .nanorc file to /root or use -f option and provide the path to nanorc file.
quoting from nano man page:

[2021-12-20 00:35] LoganDark commented on #346
brightblack should be a grey color. It's a problem with your terminal color scheme if it is 100% black for you.

I'm running nano 6.0 and brightblack works fine for me

![image](https://user-images.githubusercontent.com/4723091/146696776-8c7852bb-5956-458c-bd97-a6982021f8ff.png)

[2021-12-20 00:41] LoganDark opened #384 "Support whitespacedisplay"
I recently submitted a patch to Nano that will **allow people to turn on whitespace display by default** (via `set whitespacedisplay`, already toggleable by Meta+P but not yet settable via nanorc), and that means all of the nanorc files in this repository _should_ (if applicable) include this rule at the bottom:

[code]

(or `"[[:space:]]+"`, if it makes any difference)

That way they look correct

[2021-12-21 05:09] LoganDark commented on #384
Just a quick note, this is possible to fix by an end user by including an `extendsyntax` after every include:

![image](https://user-images.githubusercontent.com/4723091/146874583-0dc78ee4-4093-4e1c-a15c-a83e6585a498.png)

but this gets tiring quickly.

[2021-12-22 20:18] boredhero opened #385 "Readme reqeuest: Note where arch installs the nanorc files to"
I know this is as simple as running ```pacman -Ql nano-syntax-highlighting```, but you could also just mention by your cat command there that the install path for those of us using the package manager installation method is ```/usr/share/nano-syntax-highlighting/```

[2022-01-06 03:40] mpoletiek opened #387 "Solidity"
Kindly requesting :)

Thank you!

[2022-01-15 19:37] mobluse commented on #341
VB/VBA is BASIC and BASIC is still used in embedded systems and for retro computing. E.g. [MMBasic](https://github.com/UKTailwind/PicoMite) is available for Raspberry Pi Pico (RP2040) and is similar to VB. Also other BASIC files for e.g. Apple II and C64 could use the same syntax coloring as for VB. `vim` supports syntax coloring of bas-files, but I prefer `nano`. You might want to port an old BAS

[2022-01-15 19:40] mobluse commented on #382
This seem to be a duplicate of https://github.com/scopatz/nanorc/issues/341

[2022-02-08 14:48] ghost opened #388 "html.nanorc corrupts lines containing emoji"
In this example, you can see that:
`2020` becomes `>202`
`</tr>` becomes `</tr>>`

nano without html.nanorc:
<img width="456" alt="Screenshot 2022-02-08 at 2 38 02 p m" src="https://user-images.githubusercontent.com/1757768/153009018-e10db589-66dc-45a8-8c0e-ef4a97658d78.png">
with html.nanorc
<img width="456" alt="Screenshot 2022-02-08 at 2 38 21 p m" src="https://user-images.githubusercontent.com

[2022-03-02 15:07] delameter commented on #346
that did the trick for me:
[code]
this will edit files in-place, but before that create backups in the same directory. to disable backing up replace `-i.bak` with `-i`

[2022-03-02 15:25] delameter commented on #346
i made a little bit of research - the problem is "brightblack" transforms into `\e[1;30m`, that is control sequence for making the text bold (1) and black (30). not all terminals display bold in brighter colors. what it should be transformed into - `\e[90m`, that's code for gray color, or "bright black"

![image](https://user-images.githubusercontent.com/50381946/156392038-afe3bd61-24ec-4585-bdb8-

[2022-03-07 18:32] davidhcefx commented on #387
@mpoletiek You can write one and create a PR. However @scopatz seems to be inactive since Oct 2020 😢

[2022-03-07 18:57] davidhcefx commented on #388
That looks like a GNU Nano problem instead of a highlighting problem.
Anyway, what's your platform? I can't replicate on Ubuntu 18.04 with `nano` 6.2.

[2022-03-07 19:32] davidhcefx commented on #361
This repo is in fact a collection of lots of contributions from [different authors](https://github.com/scopatz/nanorc/blob/master/AUTHORS.rst). It's hard to make sure all 119 rcfiles add italicized comment highlighting.

[2022-03-07 19:48] davidhcefx commented on #356
That's cool!

[2022-03-07 20:28] davidhcefx commented on #369
These are not extensions of Typescript of Javascript, according to Wikipedia. Neither did [File-Extensions.org](https://www.file-extensions.org/search/?searchstring=typescript&searchtype=2) recognizes them.

- https://en.wikipedia.org/wiki/JavaScript
- https://en.wikipedia.org/wiki/TypeScript

[2022-03-07 20:30] Yash-Singh1 commented on #369
However, many people use that file extension.

[2022-03-07 22:35] mpoletiek commented on #387
Would be nice to see eventually. Unfortunately I'm just now learning
Solidity, but I wonder if there is an easy way to convert something thats
already available for say vscode?
-------------------------------------------
Matthew Poletiek
303.810.9082
***@***.***
www.matthewpoletiek.com

On Mon, Mar 7, 2022 at 12:32 PM davidhcefx ***@***.***> wrote:

[2022-03-08 14:22] davidhcefx commented on #387
`nanorc` uses [ERE][] regex to highlight syntaxes, but it certainly is easier and better to create one based on existing highlighting. A direct converter seems cool, but in my opinion the problem lies in ERE not being strong enough, for example we cannot do *lookahead assertion* as in Python [re][] can.

[ERE]: https://www.gnu.org/software/findutils/manual/html_node/find_html/posix_002dextended-re

[2022-04-04 04:52] b1ek opened #390 "Error in some file on some line: Command "linter/comment" not understood"
![image](https://user-images.githubusercontent.com/57577711/161476128-feb03708-cd40-47f8-934b-ed6c6883f44f.png)
Am i doing something wrong?

[2022-04-04 04:52] b1ek commented on #390
The coloring works as it supposed to

[2022-05-12 16:57] appgurueu opened #393 "Lua syntax highlighting is broken"
See i.e. https://github.com/zyedidia/micro/pull/2426 and https://github.com/zyedidia/micro/pull/2409

[2022-05-27 02:56] Lindenk commented on #253
Same problem for me, I'm on the latest `nano` from the arch linux official repo (6.3). Yes I can just comment it out, but then how do I enable smooth scroll?

[2022-06-08 08:46] ghost commented on #388
Apologies for the delay. I believe it was macOS I was on at the time.

[2022-06-28 21:43] Ectropian commented on #253
After watching a quick youtube video about creating the .nanorc file, I too had this problem.  the "set const" was all I had in there at the time.  Looking through the /etc/nanorc and grep for "const" I found the variable was changed from const to constantshow.   Chaging this in my .nanorc fixed my error message :)  Hope this helps you too

[2022-07-01 10:36] robertrade commented on #390
You can comment out/remove these lines in these specific files.

[2022-08-08 19:28] Weltraumschaf commented on #253
My nano (macOS 12.5, nano 6.4, install via homebrew, Compiled options: --disable-libmagic --enable-utf8) complains: `Unknown option "suspend"`. Had this option quite long in my dotfiles.

[2022-09-22 08:24] gilcu3 commented on #156
Sorry for necroposting, I think the solution from #339 should be applied globablly, in particular for cfg files

[2022-10-12 07:53] rubyFeedback opened #400 "Please support files without file ending"
Please support files without file ending.

I am struggling to find out which syntax to use for this.

It is easy to make things work on e. g. .md files but
I don't know how to enable nano highlighting via
files that have no file ending. It would be great
if the README can explain this.

[2022-10-13 14:15] crabel99 commented on #253
I have the same issue, macOS 12.6, nano 6.4

[2022-10-18 13:07] #25 closed

[2022-11-20 16:18] mobluse commented on #341
I did find this for MMBasic which inludes a lot of Visual Basic (VB): https://github.com/thwill1000/mmb4l/blob/main/resources/mmbasic.syntax.nanorc